.login-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-side {
  background: white;
  grid-column: 1;
  color: #2b2039;
}

.login-side-top {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  text-align: center;
  em {
    font-family: 'Croissant One', cursive !important;
    font-style: normal;
    font-weight: 400;
    color: #a12568;
  }

  p {
    width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    // border: 1px solid red;
    text-align: left;
    line-height: 22px;
  }
}

.login-area {
  width: 320px;
  margin: 0 auto;
  margin-top: 30px;

  label {
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 10px;
    display: block;
    border-radius: 6px;
    height: 25px;
    border: 1px solid #2b2039;
    padding: 5px;
  }

  #submit-btn {
    background: none;
    border: 2px solid #2b2039;
    width: 80px;
    height: 30px;
    border-radius: 6px;
  }

  #submit-btn:hover {
    cursor: pointer;
    background-color: #2b2039;
    color: white;
  }
}

.sign-up-area {
  width: 320px;
  margin: 0 auto;
  margin-top: 40px;

  a {
    display: block;
    margin-top: 15px;
    width: 100%;
    text-decoration: none;
    background-color: #a12568;
    height: 35px;
    text-align: center;
    border-radius: 6px;
  }

  a:hover {
    background-color: #2b2039;
  }

  h3 {
    color: #ffdd59;
    padding-top: 5px;
  }

  h3:hover {
    color: white;
  }
}

.content-side {
  grid-column: 2;

  footer {
    position: fixed;
    bottom: 0;
    width: 50vw;
    padding-bottom: 10px;

    div {
      width: 100px;
      margin: 0 auto;
    }

    img {
      width: 22px;
    }

    a {
      display: flex;
      text-decoration: none;
      font-size: 12px;
      align-items: center;
    }

    h4 {
      color: white;
      margin-left: 4px;
    }
  }
}

#screen-shot-user {
  width: 50px;
  padding: 8px;
  border-radius: 100%;
  background: #d2dae2;
  position: relative;
  top: 95px;
  left: -20px;
}

.screen-shot-area {
  width: 40vw;
  max-width: 400px;
  margin: 0 auto;
}

#screen-shot {
  width: 40vw;
  max-width: 400px;
  border-radius: 14px;
  border: 2px solid #2b2039;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}
