@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

.login-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-side {
  background: white;
  grid-column: 1;
  color: #2b2039;
}

.login-side-top {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  text-align: center;
  em {
    font-family: 'Croissant One', cursive !important;
    font-style: normal;
    font-weight: 400;
    color: #a12568;
  }

  p {
    width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    // border: 1px solid red;
    text-align: left;
    line-height: 20px;
  }
}

.login-area {
  width: 320px;
  margin: 0 auto;
  margin-top: 30px;

  label {
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 10px;
    display: block;
    border-radius: 6px;
    height: 25px;
    border: 1px solid #2b2039;
  }

  #submit-btn {
    background: none;
    border: 2px solid #2b2039;
    width: 80px;
    height: 30px;
    border-radius: 6px;
  }

  #submit-btn:hover {
    cursor: pointer;
    background-color: #2b2039;
    color: white;
  }
}

.content-side {
  grid-column: 2;
}

#screen-shot {
  width: 350px;
  border-radius: 14px;
  border: 2px solid #2b2039;
  display: block;
  margin: 0 auto;
  margin-top: 110px;
}
