.sender {
  text-align: end;
  background-color: #4d38a2;
  width: 50%;
  padding: 10px;
  color: #eee;
  margin-bottom: 20px;
  border-radius: 12px;
}

.receiver {
  background-color: #19182b;
  color: #eee;
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
}
