.chat-msg-container {
  overflow: scroll;
  padding: 15px;
  box-sizing: border-box;
}

.chat-msg-container::-webkit-scrollbar {
  display: none;
}

.sender {
  text-align: end;
  padding: 5px 10px 5px 10px;
  color: #eee;
  inline-size: 100%;
  display: flex;
  justify-content: flex-end;
}

.sender p {
  width: fit-content;
  max-width: 200px;
  background-color: #4d38a2;
  border-radius: 12px;
  padding: 10px;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
}

.receiver p {
  width: fit-content;
  max-width: 200px;
  background-color: #19182b;
  border-radius: 12px;
  padding: 10px;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
}

.receiver {
  // text-align: end;
  padding: 5px 10px 5px 10px;
  color: #eee;
  inline-size: 100%;
  display: flex;
  // justify-content: flex-end;
}
