.sender {
  text-align: end;
  background-color: #4d38a2;
  /* width: 50%; */
  padding: 10px;
  color: #eee;
  margin-bottom: 20px;
  border-radius: 12px;
  grid-column: 2;
}

.sender p {
  height: 50px;
  width: 150px;
  overflow: hidden;
}

.receiver {
  background-color: #19182b;
  color: #eee;
  /* width: 50%; */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  grid-column: 1;
}
