.chat-area-container {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  max-height: 100vh;
  border-right: 4px solid #2b2039;
  border-left: 4px solid #2b2039;
}

.chat-area-info {
  display: flex;
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 15px;
  border-bottom: 2px solid #2b2039;
}

.chat-area-info h3 {
  font-size: 15px;
  margin-left: 25px;
  align-self: center;
}

.user-img-holder {
  background: #ced6e0;
  min-width: 45px;
  height: 45px;
  border-radius: 15px;
}

.user-img-holder img {
  min-width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 6px;
}
