.nav-container {
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr;
  height: inherit;
}

.nav-top {
  grid-row: 1;
}

// #logo1 {
//   width: 138px;
//   display: block;
//   margin: 30px auto;
//   font-family: 'Croissant One', cursive !important;
//   color: #a12568;
//   position: relative;
//   top: -73px;
//   left: 2px;
//   letter-spacing: 1px;
// }

// #logo2 {
//   width: 138px;
//   display: block;
//   margin: 30px auto;
//   font-family: 'Croissant One', cursive !important;
//   color: #fec260;
//   position: relative;
//   top: -145px;
//   left: 4px;
//   letter-spacing: 1px;
// }
