.nav-container {
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr;
  height: inherit;
}

.nav-top {
  grid-row: 1;
}

#logo {
  width: 130px;
  display: block;
  margin: 30px auto;
  font-family: 'Croissant One', cursive !important;
}
