.sidebar-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  /* grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr; */
}

.sidebar-container > h3 {
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 25px;
}

.sidebar-users {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
  height: 30px;
  border-radius: 10px;
}
