/* START -- FOR DESIGN AND TESTING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main > * {
  border: 1px solid white;
}

.nav-container > * {
  border: 1px solid white;
}

.chat-area-container > * {
  border: 1px solid white;
}

.sidebar-container > * {
  border: 1px solid white;
}
/* END -- FOR DESIGN AND TESTING */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #333;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/* START -- NAV, CHAT LIST, OPTIONS
LEFT SIDE */
/* .nav-container {
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr;
  height: inherit;
}

.nav-top {
  grid-row: 1;
}

.prof-container {
  grid-row: 2;
}

.chat-list-container {
  grid-row: 3;
}

.options-container {
  grid-row: 4;
} */
/* END -- NAV, CHAT LIST, OPTIONS
LEFT SIDE */

/* START -- CHAT AREA, CHAT, MESSAGEBOX */
.chat-area-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat-msg-container {
  height: 100vh;
}

.msg-box-container {
  margin-top: auto;
  height: 25%;
}

.message-box {
  width: 100%;
}

.message {
  margin-top: 10px;
}

/* END -- CHAT AREA, CHAT, MESSAGEBOX */

/* START -- SIDEBAR */
.sidebar-container {
  display: flex;
  flex-direction: column;
  /* grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr; */
}
/* END -- SIDEBAR */
