* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #333;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #120e17;
  background-image: linear-gradient(180deg, #120e17 0%, #181329 80%);
}
