@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #120e17;
  background-image: linear-gradient(180deg, #120e17 0%, #181329 80%);
  font-family: 'Raleway', sans-serif;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #120e17;
  background-image: linear-gradient(180deg, #120e17 0%, #181329 80%);
  margin: 0 auto;
  max-width: 1100px;
  // border: 2px solid #2b2039;
}
