/* START -- FOR DESIGN AND TESTING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main > * {
  /* border: 1px solid white; */
}

.nav-container > * {
  /* border: 1px solid white; */
}

.chat-area-container > * {
  border: 1px solid white;
}

.sidebar-container > * {
  border: 1px solid white;
}
/* END -- FOR DESIGN AND TESTING */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  background-color: #333;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  background-color: #120e17;
  background-image: linear-gradient(180deg, #120e17 0%, #181329 80%);
}

/* START -- NAV, CHAT LIST, OPTIONS
LEFT SIDE */
.nav-container {
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr;
  height: inherit;
}

#logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.prof-top {
  padding-left: 15px;
}

#username {
  margin-top: 15px;
  margin-bottom: 15px;
}

.prof-info > * {
  margin-bottom: 10px;
}

.nav-top {
  grid-row: 1;
}

.prof-container {
  grid-row: 2;
}

.chat-list-container {
  grid-row: 3;
}

.chat-group {
  padding-left: 15px;
  margin-top: 20px;
}

.chat-group h3 {
  margin-bottom: 20px;
}

.chat-group button {
  background-color: rgba(112, 161, 255, 0.2);
  color: #1e90ff;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.chat-preview {
  margin-bottom: 20px;
  display: flex;
}

.user-img-holder {
  background: #ced6e0;
  width: 55px;
  height: 55px;
  border-radius: 15px;
}

.user-img-holder img {
  width: 40px;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}

.options-container {
  grid-row: 4;
}
/* END -- NAV, CHAT LIST, OPTIONS
LEFT SIDE */

/* START -- CHAT AREA, CHAT, MESSAGEBOX */
.chat-area-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat-msg-container {
  height: 100vh;
  overflow: scroll;
}

.msg-box-container {
  margin-top: auto;
  height: 25%;
}

.message-box {
  width: 100%;
}

.message {
  margin-top: 10px;
}

/* END -- CHAT AREA, CHAT, MESSAGEBOX */

/* START -- SIDEBAR */
.sidebar-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  /* grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr 1fr; */
}
/* END -- SIDEBAR */
